In [2]:
#6.5.2 import the dependencies
import pandas as pd
import gmaps
import requests


# Import the API key
from config import g_key

In [3]:
#6.5.2 store the CSV you saved and created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-07-19 20:41:55,-22.9661,-42.0278,75.16,83,0,12.66
1,1,Bandarbeyla,SO,2022-07-19 20:41:55,9.4942,50.8122,75.25,82,36,34.36
2,2,Cape Town,ZA,2022-07-19 20:40:33,-33.9258,18.4232,54.91,82,20,8.05
3,3,Hobart,AU,2022-07-19 20:40:50,-42.8794,147.3294,38.05,91,20,2.30
4,4,Carnarvon,AU,2022-07-19 20:41:56,-24.8667,113.6333,64.38,45,45,5.46

In [4]:
#6.5.2 get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#6.5.2 configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
#6.5.2 get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
#6.5.2 heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# get the maximum temperature
max_temp = city_data_df["Max Temp"]

# assign the figure variable and adjust the zoom, intensity, and point radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#6.5.2 heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#6.5.2 heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#6.5.2 heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#6.5.3 ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [12]:
#6.5.3 filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-07-19 20:41:55,-22.9661,-42.0278,75.16,83,0,12.66
1,1,Bandarbeyla,SO,2022-07-19 20:41:55,9.4942,50.8122,75.25,82,36,34.36
11,11,Neepawa,CA,2022-07-19 20:41:58,50.2289,-99.4664,77.40,96,100,23.02
14,14,Barra Patuca,HN,2022-07-19 20:41:59,15.8000,-84.2833,84.29,69,100,11.23
15,15,Tateyama,JP,2022-07-19 20:41:59,34.9833,139.8667,77.09,89,83,5.88
16,16,Roi Et,TH,2022-07-19 20:42:00,15.7500,103.7500,85.14,86,100,7.09
17,17,Avera,US,2022-07-19 20:42:00,33.1940,-82.5271,89.65,44,80,7.25
18,18,Kirakira,SB,2022-07-19 20:42:00,-10.4544,161.9205,80.53,76,10,5.91
21,21,Puerto Ayora,EC,2022-07-19 20:40:35,-0.7393,-90.3518,78.76,92,51,5.99
22,22,Nara,JP,2022-07-19 20:40:09,34.6851,135.8049,77.50,70,100,1.63

In [13]:
#6.5.3 determine if there are any null values
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [14]:
#6.5.4 create dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
1       Bandarbeyla      SO     75.25   9.4942   50.8122
11          Neepawa      CA     77.40  50.2289  -99.4664
14     Barra Patuca      HN     84.29  15.8000  -84.2833
15         Tateyama      JP     77.09  34.9833  139.8667
16           Roi Et      TH     85.14  15.7500  103.7500
17            Avera      US     89.65  33.1940  -82.5271
18         Kirakira      SB     80.53 -10.4544  161.9205
21     Puerto Ayora      EC     78.76  -0.7393  -90.3518
22             Nara      JP     77.50  34.6851  135.8049

In [15]:
#6.5.4 Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
#6.5.4 iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
1,Bandarbeyla,SO,75.25,9.4942,50.8122,JABIR HOTEL
11,Neepawa,CA,77.40,50.2289,-99.4664,"Westway Inn Motel, Neepawa"
14,Barra Patuca,HN,84.29,15.8000,-84.2833,
15,Tateyama,JP,77.09,34.9833,139.8667,Tateyama Seaside Hotel
16,Roi Et,TH,85.14,15.7500,103.7500,ภาคินเซียงกง
17,Avera,US,89.65,33.1940,-82.5271,
18,Kirakira,SB,80.53,-10.4544,161.9205,SanBiz Lodge
21,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Nara,JP,77.50,34.6851,135.8049,Guesthouse Nara Komachi

In [18]:
#6.5.4 Add pop-up marker for each city
info_box_template = """
<dl>
<dr>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#6.5.4 Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
#6.5.4 Add a heatmap of temperature for the cavation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))